DEEPSEEK_API_KEY=your_key_here
COMFYUI_ENDPOINT=http://127.0.0.1:8188
COMFYUI_CHECKPOINT_PATH=
COMFYUI_CHECKPOINT_NAME=animagine-xl-4.0-opt.safetensors
COMFYUI_INSTALL_ROOT=
COMFYUI_VENV_DIR=
COMFYUI_LOG_DIR=./runtime/service_logs/comfyui
COMFYUI_PID_DIR=./runtime/service_state
QQ_BOT_APP_ID=
QQ_BOT_APP_SECRET=
QQ_BOT_GROUP_OPENID=
QQ_BOT_USER_OPENID=
